@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Montserrat&family=Noto+Serif&family=Poppins:wght@100;200;400&family=Rubik+Vinyl&display=swap');

 :root {
        --primary-color: #7C3AED;
        --off-white: #F3F4F6;
        --dark-gray: #6B7280;
        
  }

  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
  }

  hr {
    margin: 2rem 0rem;
  }

  /** Spaces **/

  .margin-md {
    margin: 2rem;
  }

  /** container **/
  .container {
    padding: 0rem 1rem;
  }

  .container-center {
    max-width: 600px;
    margin: auto;
  }

  /** links **/
  .link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }

  .link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
  }
  .link-secondary {
   color: var(--primary-color);
   border-radius: 0.5rem;
   border: 1px solid var(--primary-color);
  }

  /** list **/

  .list-non-bullet {
    list-style: none;
  }

  .list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
  }

  /** navigation **/

  .navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .navigation .nav-brand {
    font-weight: bold;
  }

  .navigation .nav-pills {
    text-align: right;
  }

  .navigation .link {
    color: white;
  }

  .navigation .link-active {
    font-weight: bold;
  }

  /** header **/

  .hero {
    padding: 2rem;
    padding-top: 5rem;
  }

  .hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
  }

  .hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
  }

  .hero .hero-heading .heading-inverted {
    color: var(--primary-color);
  }

  /** section **/

  .section {
    padding: 2rem;
  }

  .section h1 {
    text-align: center;
   
  }

  .ow {
    background-color: var(--off-white);
  }

  /** footer **/

  .footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
  }

  .footer .link {
    color: white;
  }

  .footer ul {
    padding-inline-start: 0px;
  }
  